@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="text-center">ASP.NET Core 6.0 API and MVC Web App in Docker / Azure Container Instance (Demo Project)</h1>
    <hr /><br />

    <p>
        Development / Deployment Steps <br />
        1. Two demo apps; ASP.NET Web API (Service app) and ASP.NET MVC WebApp (client app) are created in Visual Studio with Docker service enabled. <br />
        2. The corresponding Docker images are created and stored in Azure Repository (or ACR, Azure Container Registry) using CLI docker commands. <br />
        3. New Container instances for both apps were created and deployed in Azure. The MVC instance consumes the data from the API instance.<br />
    </p>

    <p>This demo project includes the usages of followings:</p>

    <ul>
        <li>CI/CD Practice</li>
        <li>ASP.NET Core 6.0 Web App (C#)</li>
        <li>Wep API</li>
        <li>MVC</li>
        <li>Entity Framework Core</li>
        <li>Microsoft SqlServer</li>
        <li>Docker Image / Container</li>
        <li>Docker Compose</li>
        <li>Azure Container Registry (ACR)</li>
        <li>Azure Container Instances</li>
    </ul>

</div>